<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact from <%= @name %></h1>
    <p>
      You have a contact message at ryanduchin.com
      Name: <%= @name %>
      Email: <%= @email %>
      Subject: <%= @subject %>
    </p>
    <p>
      Message:
      <%= @message %>
    </p>
  </body>
</html>
