<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact from <%= @name %></h1>
    <p>
      Someone contacted you from ryanduchin.com
      <br>
      Name: <%= @name %>
      <br>
      Email: <%= @email %>
    </p>
    <p>
      Subject: <b><%= @subject %></b>
      <br>
      Message:
      <%= @message %>
    </p>
  </body>
</html>
